* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #222;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

header {
    background-color: #0a1f44;
    color: #fff;
    padding: 10px;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0a1f44;
    color: #fff;
    margin-top: 20px;
}

.flexmenu {
    width: 100%;
    background-color: #0a1f44;
    color: #fff;
    line-height: 1.4em;
}

.flex {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5em;
}

.menu {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    width: 15%;
    font-weight: bold;
}

.menu:first-child {
    display: inline-flex;
    justify-content: left;
    width: 80%;
    margin-left: 0;
    margin-right: auto;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 0.5em;
}

.menu:nth-child(n+2):hover {
    background-color: #c0c0c0;
    color: #000;
    border-radius: 0.5em;
}

.mobile-menu {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1.2em;
}

.menu-icon {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: inline-flex;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .flex {
        flex-direction: row;
    }

    .menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        font-weight: bold;
    }
}